<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
        .xyz{
          margin-bottom: 0px;
          background-image: url('{% static "image/homepage.jpg" %}');
          background-size: cover;
          background-repeat: no-repeat;
        }
</style>
<body>
  {% include "insurance/navbar.html" %}
<br>

<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center ">
  <div class="container text-center">
    <h2 class="display-3 text-danger">AGRICULTURAL INSURANCE MANAGEMENT SYSTEM</h2>

    
    <p class="lead">Sign Up now to start applying for your first policy</p>

  
    
    <a href="/customer/customersignup" class="btn btn-lg btn-danger" style="border-radius: 0%;"><i class="fa fa-user" aria-hidden="true"></i> Sign Up as Customer</a>
    
    <br>
    
    <br><br>

  </div>  
</section>

<!-- 
<div class="jumbotron" style="margin-top: 0px;margin-bottom: 0px;">

 
  
</div> -->
  {% include "insurance/footer.html" %}


</body>

</html>
